parameters:
	reportUnmatchedIgnoredErrors:
		false
	ignoreErrors:
		- '#[Mm]ethod .* is unused.#'
		- '#.*no value type specified in iterable type array.#'
		-
			message: '#.*ForTestingParams has an unused parameter #'
			path: src/tests/ReflectionTest.php
		-
			message: '#Unsafe usage of new static\(\)#'
			path: src/locking/SingleWriterLock.php
		-
			message: '#Method SQLite3::openBlob\(\) invoked with 3 parameters, 4-5 required#'
			path: src/SQLiteList.php
	treatPhpDocTypesAsCertain: 
		false

